ipykernel<6  # Install old version of ipykernel to avoid terminal issues
glue-core
glue-qt
glue-vispy-viewers
pvextractor
notebook
numba
numpy
PyQt5==5.14.2
anndata>=0.8
scanpy>=1.9
enrichrpy>=0.1
glue_genes
glue_small_multiples
glue_heatmap
pyranges
zarr
psutil
fastcluster
squidpy
ome-zarr
tifffile
shapely